.button {
    background-color: rgb(168, 83, 168);
    padding: 0.5rem 1rem;
    border: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.61);
    color:rgb(8, 8, 8);


}

.img {
    width: 225px;
    height: 225px;
    border-style: ridge;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    gap: 1rem;
}